asgiref==3.5.0
borax==3.5.4
certifi==2021.10.8
cx-Oracle==8.3.0
Django==2.2.5
django-echarts==0.5.1
djangorestframework==3.13.1
dukpy==0.2.3
gunicorn==20.1.0
javascripthon==0.11
Jinja2==3.1.1
macropy3==1.1.0b2
MarkupSafe==2.1.1
mysqlclient==2.1.0
nltk==3.6.2
Pillow==9.0.1
prettytable==3.2.0
psycopg2==2.9.3
pyecharts==1.9.1
pyecharts-javascripthon==0.0.6
pytz==2021.3
simplejson==3.17.6
sqlparse==0.4.2
typing_extensions==4.1.1
wcwidth==0.2.5
whitenoise==6.0.0
